/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: sandybrown; */
    color: #333;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px; /* Ensure footer is not overlapped */
}

/* Card styles */
.card {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.card-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    /* background-color: #007bff; */
    color: #333;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    color: #666;
    margin-bottom: 15px;
}

/* .card .btn-primary:hover, .card .btn-primary:focus {
    background-color: greenyellow;
} */

/* Header Styles */
h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

h3 {
    margin: 0;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    vertical-align: top;
}

.table th {
    background-color: #f8f9fa;
    text-align: left;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Input field styles */
.input-fields {
    margin-bottom: 1rem;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field input[type="checkbox"],
.input-field input[type="radio"] {
    margin-right: 10px;
}

.input-field label {
    margin-right: 20px;
}

/* Form Styles */
.form-control, .form-select {
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-control:focus, .form-select:focus {
    border-color: #563d7c;
    box-shadow: 0 0 5px rgba(86, 61, 124, 0.5);
}

.form-input {
    width: calc(100% - 140px);
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Button styles */
.btn-input {
    margin-top: 20px;
    text-align: right;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-primary {
    /* background-color: #3d5b7c; */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

/* .btn-primary:hover, .btn-primary:focus {
    background-color: aqua;
} */

.text-right {
    text-align: right;
}

/* Navbar styles */
.navbar-brand {
    font-size: 1.5rem;
}

/* Carousel styles */
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-caption h1 {
    font-size: 3rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.25rem;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}

/* Thesis Card Styles */
.thesis-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.thesis-card:hover {
    transform: translateY(-10px);
}

/* News card styles */
.news-card {
    /* position: relative; */
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.news-card:hover {
    transform: translateY(-10px);
}

.ribbon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 15px;
    font-size: 0.8rem;
    z-index: 10;
}

/* Image styles */
.news-card .thesis-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-detail {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* Pagination Styles */
.pagination {
    margin-top: 20px;
}

.pagination .page-link {
    color: #563d7c;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover, .pagination .page-link:focus {
    background-color: blue;
    color: white;
}

.pagination .page-item.active .page-link {
    /* background-color: #563d7c; */
    border-color: #563d7c;
}

/* Thesis Detail Styles */
.thesis-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thesis-detail h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.thesis-detail .text-muted {
    color: #666;
    margin-top: 10px;
}

.thesis-detail .thesis-content {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.thesis-detail .btn-primary:hover, .thesis-detail .btn-primary:focus {
    background-color: red;
}

/* News Detail Styles */
.news-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.news-detail .img-news {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.news-detail h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.news-detail p {
    color: #666;
    margin-top: 10px;
}

.news-detail .text-muted {
    color: #999;
    margin-top: 5px;
}

.news-detail .news-content {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: left;
}

.news-detail .btn-primary:hover, .news-detail .btn-primary:focus {
    background-color: red;
}
